<h2>Log in</h2>
<form action="/login" method="post">
  <div>
    <label>Username:</label>
    <input type="text" name="email" value="test@test.com" /><br />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" value="xyz" />
  </div>
  <div>
    <input type="submit" value="Submit" />
  </div>
</form>
<p><small>Hint - test@test.com:xyz</small></p>
